/*header*/
#contenedor{

}

#titulo{
  background-image: url(assets/Fondo.jpg);
  max-width: 1368px;
  height: 450px;
}

#titulo div {
  width: 420px;
  height: 500px;
  float: right;
  margin-right: 15%;
  margin-top: 35px;
}

#logo{
  margin: 0 auto;
  margin-top: 15px;
}

#texto{
  font-family: 'Slabo 27px', serif;
  color: #fff;
  font-size: 21px;
  margin-top: 15px;
  letter-spacing: 2px;
}

#boton{
  float: right;
  padding-bottom: -2px;
  margin: auto;
  margin-top: 50px;
  margin-right: -76px;
  transition: ease-in-out 0.5s;
}

#boton:hover{
  transform: scale(1.05, 1.05);
}

#boton:active{
  transform: scale(0.8, 0.8);
}

#navigation {
  background-color: #673AB7;
  height: 40px;
  font-family: 'Slabo 27px', serif;

}

#navigation ul {
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  margin-right: 40px;
}

#navigation ul li {
  float: right;
  font-weight: bold;
}

#navigation ul li a{
  color: #212121;
  padding: 10px;
  display: block;
  text-decoration: none;
}

#navigation ul li span{
  margin-right: 10px;
}

.menu:hover {
  text-decoration:none;
  background:#512DA8;
}

#home{
  color: #212121;
  padding: 10px;
  display: block;
  float: left;
  text-decoration: none;
  font-weight: bold;
}

#home span{
  
  margin-right: 10px;
}



#home:hover {
  text-decoration:none;
  background:#512DA8;
  
}