/*header*/
#contenedor{
  text-align: center;
}

#titulo{
  background-image: url(assets/Fondo1440.jpg);
  max-width: 1368px;
  height: 400px;
}

#titulo div {
  width: 420px;
  height: 500px;
  float: right;
  margin-right: 15%;
  margin-top: 35px;
}

#logo{
  margin: 0 auto;
  margin-top: 15px;
}
#logomovil{
  display: none;
}

#texto{
  font-family: 'Slabo 27px', serif;
  color: #fff;
  font-size: 21px;
  margin-top: 15px;
  letter-spacing: 2px;
}

#textoMovil{
  display: none;
}

#boton{
  float: right;
  padding-bottom: -2px;
  margin: auto;
  margin-top: 35px;
  margin-right: -76px;
  transition: ease-in-out 0.5s;
}

#boton:hover{
  transform: scale(1.05, 1.05);
}

#boton:active{
  transform: scale(0.8, 0.8);
}

#navigation {
  max-width: 1368px;
  background-color: #673AB7;
  height: 40px;
  font-family: 'Slabo 27px', serif;

}

#navigationmovil{
  display: none;
}

#navigation ul {
  margin: 0 auto;
  overflow: hidden;
  list-style: none;
  margin-right: 40px;
}

#navigation ul li {
  float: right;
  font-weight: bold;
}

#navigation ul li a{
  color: #212121;
  padding: 10px;
  display: block;
  text-decoration: none;
}

#navigation ul li span{
  margin-right: 10px;
}

.menu:hover {
  text-decoration:none;
  background:#512DA8;
}

.home{
  color: #212121;
  padding: 10px;
  display: block;
  float: left;
  text-decoration: none;
  font-weight: bold;
}

.home span{
  
  margin-right: 10px;
}



.home:hover {
  text-decoration:none;
  background:#512DA8;
  
}


@media screen and (max-width: 1024px){
  #titulo{
  background-image: url(assets/Fondo1024.jpg);
  max-width: 1024px;
  
}
#navigation {
  max-width: 1024px;
}

}

@media screen and (max-width: 768px){
  #titulo{
  background-image: url(assets/Fondo768.jpg);
  max-width: 768px;
  
}
#navigation {
  max-width: 768px;
}

}

@media screen and (max-width: 425px){
#titulo{
  background-image: url(assets/FondoMovil.jpg);
  max-width: 425px;
  
}

#logo{
  display: none;
}

#logomovil{
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-left: 105px;
}

#texto{
  display: none;
}

#textoMovil{
  display: block;
  font-family: 'Slabo 27px', serif;
  color: #fff;
  font-size: 21px;
  margin-top: 60px;
  margin-left: 105px;
  letter-spacing: 2px;
}

#boton{
  float: center;
  padding-bottom: -2px;
  margin: auto;
  margin-top: 50px;
  margin-right: 55px;
}

#navigation{
  display: none;
}

#navigationmovil {
  display: block;
  max-width: 425px;
  background-color: #673AB7;
  height: 40px;
  font-family: 'Slabo 27px', serif;

}

#menu{
  color: #212121;
  padding: 10px;
  display: block;
  float: right;
  text-decoration: none;
  font-weight: bold;
}

#menu span{
  
  margin-right: 10px;
}

#menu:hover {
  text-decoration:none;
  background:#512DA8;
  
}
}

@media screen and (max-width: 375px){

#logomovil{
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-left: 120px;
}
#textoMovil{
  display: block;
  font-family: 'Slabo 27px', serif;
  color: #fff;
  font-size: 21px;
  margin-top: 60px;
  margin-left: 120px;
  letter-spacing: 2px;
}
#boton{
  float: center;
  padding-bottom: -2px;
  margin: auto;
  margin-top: 50px;
  margin-right: 40px;
}

}

@media screen and (max-width: 320px){
#logomovil{
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-left: 135px;
}
#textoMovil{
  display: block;
  font-family: 'Slabo 27px', serif;
  color: #fff;
  font-size: 21px;
  margin-top: 60px;
  margin-left: 200px;
  letter-spacing: 2px;
}
#boton{
  float: center;
  padding-bottom: -2px;
  margin: auto;
  margin-top: 50px;
  margin-right: 20px;
}
}